# Customize Sales Verification

**GoAffPro** provides you with the option to customize the sales verification for your program.

To customize the sales verification for your program, go to the **General** section in the **Settings** tab of the GoAffPro admin panel.

<figure><img src="../../../.gitbook/assets/image (39).png" alt=""><figcaption><p>Settings > General</p></figcaption></figure>

Here, go to the Sales section.

<figure><img src="../../../.gitbook/assets/image (2706).png" alt=""><figcaption><p>Sales</p></figcaption></figure>

Now, click on **Customize how sales are verified**.

<figure><img src="../../../.gitbook/assets/Screenshot 2022-12-05 175615.png" alt=""><figcaption><p>Click on Customize how sales are verified</p></figcaption></figure>

This will open up the Sale verification map window.&#x20;

<figure><img src="../../../.gitbook/assets/image (1962).png" alt=""><figcaption><p>Sale verification map</p></figcaption></figure>

Here, set the order status criteria for marking the sales as approved, rejected or pending.&#x20;

<figure><img src="../../../.gitbook/assets/Screenshot 2022-12-05 175831.png" alt=""><figcaption><p>Select the order status criteria</p></figcaption></figure>

Finally, click on **Submit**.

<figure><img src="../../../.gitbook/assets/Screenshot 2022-12-05 180147.png" alt=""><figcaption><p>Click on Submit</p></figcaption></figure>

{% embed url="https://youtu.be/AQ2aoowaD_4" %}
Customize Sales Verification
{% endembed %}
